node_modules/
/dist
/out-tsc
.angular/
.sass-cache/
connect.lock
coverage/
lib/
npm-debug.log
yarn-error.log
bin/
obj/
*.log
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
Thumbs.db
Desktop.ini
.DS_Store
appsettings.json